@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@700&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

// colours
$nav-colour: #264269;
$nav-colour2: #365E96;
$bg-color: #EDF2F8;
$button-colour: #CBE4EF;
$contact-colour: #6F7E85;
$card-colour: #EFF4FB;

// font 
$text: 'Open Sans', sans-serif;
$titles: 'Ubuntu', sans-serif;

// uncomment this if ur trying to figure
// out overflow issues T^T

// * {
//     outline: 1px solid #f00 !important;
//   }

// formats

// button format
@mixin btn($colour: $button-colour) {
    display: block;
    border-radius: 1.5em;
    padding: 0.75em 1.75em;
    margin: 0.5em;
    text-align: center;
    width: fit-content;

    background-color: $colour;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: $contact-colour;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: white;
        cursor: pointer;
    }
}

// card format
@mixin card($colour: $card-colour) {
    display: block;
    background-color: $colour;
    padding: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


// general stuff

body {
    background-color: $bg-color;
    font-family: $text;
    line-height: 1.5em;
}

main {
    padding: 1em 2em;
}

h1 {
    font-family: $titles;
    font-size: 2em;
    text-align: center;
    padding: 0.25em 0;
}

h2 {
    font-family: $titles;
    font-size: 1.75em;
    text-align: center;
    padding: 0.25em 0;
}

h3 {
    font-family: $titles;
    font-size: 1.25em;
    text-align: center;
    padding: 0.25em 0;
}

// nav

nav {
    background-color: $nav-colour;
}

.nav-option {
    display: block;
    padding: 0.5em 0.75em;
    text-decoration: none;
    color: white;
    
    &:hover {
        background-color: $nav-colour2;
    }
}

.nav-menu-mobile {
    padding: 0 0 0.75em 0;
}

// intro

#intro {

    p {
        padding: 2em 0;
        text-align: center;
    }

    img {
        display: block;
        margin: 1em auto;
        width: 220px;
        height: auto;
        border-radius: 50%;
    }

    .intro-desktop {
        display: none;
    }

    .contact-button {
        @include btn();
        margin: 1.5em auto;
    }
}

.instruments-desktop, .software-desktop{
    display: none;
}

// contact buttons

.contact-btn {
    @include btn($contact-colour);

    color: white;
    text-decoration: none;
    width: 160px;
    margin: 0.5em auto;
    border-radius: 1em;

    display: flex;
    justify-content: space-between;
    
}

// footer
footer {
    text-align: center;
    font-size: 0.75em;
    color: #6F7E85;

    border-top: 1px solid #6F7E85; 
    margin: auto 2em;
    padding: 1em;
}

// portfolio page

.portfolio-intro {
    padding: 1em;

    h1 {
        text-align: left;
    }

    p {
        padding: 0.5em 0;
    }

}

.portfolio-works {

    
    .work-card.card-desktop {
        display: none;
    }

    .work-card {
        @include card();
        margin: 2em auto;
        max-width: 270px;

        
    }


    
}