@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@700&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

// colours
$nav-colour: #264269;
$nav-colour2: #365E96;
$bg-colour: #EDF2F8;
$button-colour: #CBE4EF;
$contact-colour: #6F7E85;
$card-colour: #EFF4FB;

// font 
$text: 'Open Sans', sans-serif;
$titles: 'Ubuntu', sans-serif;

// uncomment this if ur trying to figure
// out overflow issues T^T

// * {
//     outline: 1px solid #f00 !important;
//   }

// formats

// button format
@mixin btn($colour: $button-colour) {
    display: block;
    border-radius: 1.5em;
    padding: 0.75em 1.75em;
    margin: 0.5em;
    text-align: center;
    width: fit-content;

    background-color: $colour;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
        background-color: $contact-colour;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: white;
        cursor: pointer;
    }
}

// card format
@mixin card($colour: $card-colour) {
    display: block;
    background-color: $colour;
    padding: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// general stuff

body {
    background-color: $bg-colour;
    font-family: $text;
}

main {
    padding: 1em 2em;
}


// nav

nav {
    background-color: $nav-colour;
}

.nav-option {
    display: block;
    padding: 0.5em 0.75em;
    text-decoration: none;
    color: white;
    
    &:hover {
        background-color: $nav-colour2;
    }
}

.nav-menu-mobile {
    padding: 0 0 0.75em 0;
}

div.btn {
    @include btn();
}

div.card {
    @include card();
}